{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1588260405903-b0a1036efe6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=940&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Hello World!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Suzy Lewis. I think of myself as a team-focused worker that can get the job done. I have experience with Python and implementation with the AWS suite (specifically: Lambda, EC2, CloudWatch, DynamoDB, Sagemaker), Serverless Framework, NLP, Python ML Libraries, Docker, as well as the ability to pick up new skills. Have worked with a fast moving team and product before, and am excited to do it again. I am an excellent communicator and am dedicated to cultivating healthy, honest, collaborative relationships with my teammates, whether they be remote or in person. </p>
        <p>For fun you'll find me sharing my Wordle score with my Mom in the mornings. Hiking, playing tennis, or learning something new with an online course in the afternoon. And in the evening I'm cooking something new or playing a masochistically intricate board game with friends.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}